[mysql]
prompt = "[38;5;204m[2m\\N (\\u@\\h)[m\\n[38;5;204m[\\d] [1m>[m "
line-numbers
no-beep
# Never fall back to pre-4.1 password auth format
secure-auth
# Use StartTLS opportunistically if server advertises it
ssl
# This makes TLS mandatory even for Unix-socket connections
#ssl-verify-server-cert

# show session status like 'ssl_cipher';
# show session status like 'ssl_version';
# select user(), current_user();
# show privileges [for <user>];
# show grants [for <user>];
# alter user 'grawity'@'%' require ssl;
# select host, user, password, plugin, authentication_string from mysql.user;
